body {
    background-color: #f5f9ff;
    color: black;
}

.login-card {
    height: 300px;
    width: 250px;
    margin-top: 250px;
    margin-left: 650px;
    margin-right: 40%;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}

.login-title {
    padding-top: 10px;
    color: black;
    margin-left: 15px;
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.username {
    margin: 15px;
    margin-top: 25px;
}

.password {
    margin: 15px;
    margin-top: 25px;
}

.login-submit {
    left: 70px;
}